body {
  padding-top: 30px;
  padding-bottom: 30px;
}

body > article {
  max-width: 739px;
  margin: 0 auto;
  padding: 10px;
}

body > article small {
  color: gray;
}

@media (max-width: 500px) {
  #ribbon {
    display: none;
  }
}

@media (min-width: 501px) {
  #ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}
