header
  display: flex

  aside
    padding: 20px 3vw 0 8vw
    background: #F1FFF2

    img
      max-width: 250px
      border-radius: 10%

  article
    margin-left: 20px
    padding: 20px

.markdown-body small
  color: gray
