// Always use border-box
* { box-sizing: border-box }

// Custom markdown style
.markdown-body small { color: gray }

// Rounded DOM
.rounded
  border-radius: 5px
  overflow: hidden

// 'private' and 'shit' button
button(text, fg, bg)
  display: inline-block
  padding: 4px 5px 3px
  font-size: 11px
  font-weight: 300
  line-height: 11px
  border-radius: 3px
  font-style: normal
  content: text
  color: fg
  background-color: bg

i.private:after
  button('PRIVATE', #a1882b, #ffefc6);
i.shit:after
  button('SHIT', #702BA1, #EAC6FF);

//
// Layout
//
width = 890px
padding = 20px
mobile = 600px

// Hide github corner on small screen
@media (max-width: mobile)
  .github-corner { display: none }

header
  padding: 20px padding
  background: #fcfcfc
  display: flex
  justify-content: center
  align-items: center

  profile-width = 220px
  profile-padding = 30px
  a#me
    padding-right: profile-padding
    img
      width: profile-width
      border-radius: 10px
    @media (max-width: mobile) { display: none }

  article#header
    max-width: width - padding*2 - profile-width - profile-padding
    width: 100%

article#main
  max-width: width
  margin: 0 auto
  padding: 20px padding

  #featured-works + ul > li { max-width: 500px }

  #skills + ul > li small > em
    margin-left: 10px
    font-weight: normal
    color: #bbb

    &:before { content: '20' }
    &:after { content: ' ~' }
