// Always use border-box
* { box-sizing: border-box }

// Custom markdown style
.markdown-body small { color: gray }

// Rounded DOM
.rounded
  border-radius: 5px
  overflow: hidden

// 'private' and 'shit' button
button(text, fg, bg)
  display: inline-block
  padding: 4px 5px 3px
  font-size: 11px
  font-weight: 300
  line-height: 11px
  border-radius: 3px
  font-style: normal
  content: text
  color: fg
  background-color: bg

i.private:after
  button('PRIVATE', #a1882b, #ffefc6)
i.shit:after
  button('SHIT', #702BA1, #EAC6FF)

//
// Layout
//
pagesize = 890px
padding = 20px
mobile = 600px

@media (max-width: mobile)
  // Hide github corner on small screen
  .github-corner { display: none }
  // Use smaller font in small screen
  .markdown-body{ font-size: 14px }

header
  header-color = #eee
  background: header-color

  > div
    max-width: pagesize
    margin: 0 auto
    padding: 20px padding
    @media (min-width: mobile + 1)
      display: flex
      justify-content: center
      align-items: center

    > a#me
      background: header-color
      @media (max-width: mobile) { float: left }

      > img
        margin-right: 20px
        border-radius: 10px

        // Use smaller profile picture on small screen
        @media (max-width: mobile)
          width: 83px
          margin-right: 15px
          border-radius: 100%

  #header
    flex-grow: 1
    h1 { border-color: #d4d4d4 }

    // Do not display Korean name on small screen
    @media (max-width: mobile) { > h1 > small { display: none } }

#main
  max-width: pagesize
  margin: 0 auto
  padding: 20px padding 100px

  #featured-works
    margin-bottom: 0

    & + ul
      list-style: none
      padding-left: 0

      @media (min-width: mobile + 1)
        columns: 2
        column-gap: 40px

      > li
        width: 100%
        max-width: 600px
        display: inline-block
        > h4
          margin-bottom: 0
          > small
            font-weight: normal
            &:before { content: '― ' }
        > p
          font-size: 14px
          margin: 5px 0

  #skills + ul > li > h4 > small > em
    margin-left: 10px
    font-weight: normal
    color: #bbb

    &:before { content: '20' }
    &:after { content: '~' }
    @media (max-width: mobile) { display: none }

  #quote
    float: right

  // Do not display license info on small screen
  @media (max-width: mobile) { #license { display: none } }
